
.headerbg{
    display: flex;
    background-color: #146d20 ;
    justify-content: space-between;
    height:50px;
    padding-left: 30px;
    padding-right: 30px ;
}
.top-div{
    display: flex;
   align-items: center;
   justify-content: space-around;
    width:40%
}
.headersections{
    color:white;
}
.right-div{
    display: flex;
   align-items: center;
  justify-content: flex-end;
   width:40%;
   margin-right: 25px;
}
.dropdown{
    background-color: transparent;
    border-width:0px;
    font-size:15px;
    margin-left:20px;
}
.order-details{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px ;
    align-items: center;
    margin:0px;

}
.order-id{
    margin-left:30px;
    color:rgb(106, 106, 114);
    font-size:15px;
}
.back-button-style{
   border-width:1px;
    border-style:3px solid  #146d20;
    color: #146d20;
    font-weight: 500;
    background-color: white;
    border-radius:10px;
    margin-right: 20px;
}
.green{
    background-color: #146d20;
    color:white;
    padding:2px;
   width:100px;
}
.order-card{
    height:10%;
    
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
.cartAndprodCon{
   height:90vh;    /*up*/
  overflow-y: scroll;

}
